@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&subset=latin,latin-ext&display=swap');

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 font-sans antialiased;
  }
}